    * {
        margin: 0;
        box-sizing: border-box;
        font-family: 'Inter', sans-serif;
    }
    
    body {
        height: 100vh;
        display: grid;
        grid-template-rows: .75fr 6fr;
    }
    /* header section */
    
    header {
        display: grid;
        grid-template-columns: 1fr 5fr 2fr;
        grid-gap: 1rem;
        padding: 1em;
        width: 100vw;
        font-weight: 400;
        font-size: 1.5rem;
    }
    
    #color-selector {
        height: 100%;
        width: 100%;
        border-radius: 4px;
        padding: 0 .5rem;
    }
    
    #color-preview-box {
        height: 100%;
        width: 100%;
       border: 1px solid black;
    }
    /* main content/color display */

    
    #color-display-grid {
        display: grid;
    }
    
    
  .color-container {
        display: grid;
        grid-template-columns: 3fr 1fr;
    }

    .hex-value-container {
        margin: auto;
        padding: 0 .5rem;
    }
    
    